In [4]:
import pandas as pd

df = pd.read_csv('artefatos/insurance_data_preprocessado.csv')
df.head()

,age,bmi,bloodpressure,diabetic,children,smoker,claim,cluster,binned_claim,region_northeast,region_northwest,region_southeast,region_southwest,gender_female,gender_male
0,39.0,23.2,91,Yes,0,No,1121.87,0,[1121.87 to 3276.72),False,False,True,False,False,True
1,24.0,30.1,87,No,0,No,1131.51,0,[1121.87 to 3276.72),False,False,True,False,False,True
2,19.0,41.1,100,No,0,No,1146.80,0,[1121.87 to 3276.72),False,True,False,False,False,True
3,20.0,43.0,86,No,0,No,1149.40,0,[1121.87 to 3276.72),False,True,False,False,False,True
4,36.0,19.8,88,Yes,0,No,1241.57,0,[1121.87 to 3276.72),False,True,False,False,False,True

In [8]:
from sklearn.model_selection import train_test_split

import numpy as np

X = df.drop(['claim', 'cluster', 'binned_claim'], axis=1) ## Evitar o vazamento de informação
y = df.cluster ## Vamos utilizar o cluster como label

X_train, X_temp, y_train, y_temp = train_test_split(
    X, 
    y, 
    test_size=0.4, 
    random_state=1408,
    stratify=df['cluster'] 
) # 60% Treino 40% Temporario

X_val, X_test, y_val, y_test = train_test_split(
    X_temp, 
    y_temp, 
    test_size=0.5, 
    random_state=1408,
    stratify=y_temp
)# Dos 40% Temporario 50% Validacao e 50% Teste